html {
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  @media (max-width: 430px) {
    .navbar-nav {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @media (max-width: 1200px) {
    .project-container {
        flex-wrap: wrap;
        gap: 1rem !important;
    }
  }

  @media (max-width: 768px) {
    .cert-container {
        flex-wrap: wrap;
        gap: 1rem !important;
    }
  }

  @media (max-width: 768px) {
    .snap-container {
      scroll-snap-type: none !important;
    }
  }


  /* .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  } */
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    /* display: flex;
    flex-direction: column; */
    background-image: linear-gradient(180deg, #000000b6, #434343);
    background-color: #021027;
    overflow: hidden;
  }
  
  main {
    flex: 1;
  }
  
  .form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
  }
  
  .form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
  }
  
  .navbar {
    background-color: #1e1e1ead;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10px;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    min-height: 70px;
  }
  
  .nav-link {
    color: rgba(206, 206, 206, 0.678);
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: white;
  }
  
  .nav-link.active{
    color: white;
  }
  
  .imgLogo {
    height: 24px;
    width: 24px;
    object-fit: contain;
  }
  
  .linkStyle {
    text-decoration: none;
    color: white !important;
  }
  
  .linkStyle:hover {
    text-decoration: underline;
  }
  
  .andre {
    height: 160px;
    width: 160px;
    /* border: 1px solid black; */
    border-radius: 50%;
  }
  
  .main-wrapper {
    min-height: 100vh;         /* Full viewport height */
    display: flex;
    flex-direction: column;    /* Stack children vertically */
    justify-content: center;   /* Center vertically */
    align-items: center;       /* Center horizontally */
  }
  
  .my-box {
    background-color: rgba(40, 40, 40, 0.7);
    /* Apply blur behind the box (modern browsers) */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); /* Safari older versions */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .snap-container {
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
  .snap-section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .project-box {
    height: 350px;
    width: 250px;
    border: 1px solid rgba(40, 40, 40, 0.7);
    box-shadow: rgba(176, 176, 191, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(178, 188, 197, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
  }
  
  .project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
  }
  
  .usaktslogo {
    height: 154px;
    width: 154px;
    object-fit: contain;
  }
  
  .project-box:hover {
    box-shadow: 0 0 50px 15px #5a6165;
  }
  
  .cert-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
  }
  
  .text-cert {
    display: flex;
    align-items: start;
  }
  
  .cert-label {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }
  
  .cert-box {
    height: 350px;
    width: 250px;
    border: 1px solid rgba(40, 40, 40, 0.7);
    box-shadow: rgba(176, 176, 191, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(178, 188, 197, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    padding-top: 20px;
  }
  
  .cert-box:hover {
    box-shadow: 0 0 50px 15px #5a6165;
  }
  
  .imgcenter {
    margin-top: 85px;
  }
